/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
} 

#main{

}

#nav{
    display: inline-block;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: black;
}

#nav, #subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li #title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 24px;
}

#nav li:hover #title {
    color: coral;
}

#nav li{
    line-height: 50px;
    position: relative;
}

#nav li:hover #subnav{
    display: block;
}

#nav li:hover .nav_item, #subnav li:hover .subnav_item,
#header .icon_search:hover{
    background-color: antiquewhite;
    color: black;
}

#nav #subnav{
    display: none;
    position: absolute;
    min-width: 260px;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li a {
    text-decoration: none;
    font-size: 20px;
}

#nav li .nav_item{
    display: inline-block;
    line-height: 50px;
    padding: 0px 24px;
    color: #fff;
    text-transform: uppercase;
}

#subnav li .subnav_item{
    display: block;
    line-height: 50px;
    padding: 0px 24px;
    color: #fff;
    text-transform: capitalize;
}

.nav_arrow_down{
    font-size: 14px;
    font-weight: bold;
}

#header .icon_search{
    float: right;
    font-size: 25px;
    color: white;
    padding: 12px 15px 15px 15px;
}

#slider{
    margin-top: 50px;
    padding-top: 50%;
    background: url('/assets/img/slider2.jpg') top center / cover no-repeat;
}
#content{

}
#footer{

}